flow.json
[
    {
        "id": "228b60add94eaf0b",
        "type": "tab",
        "label": "Python bug fixer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1522906d8ce1169d",
        "type": "http in",
        "z": "228b60add94eaf0b",
        "name": "",
        "url": "/createPythonFixer",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "8088f4545168a017"
            ]
        ]
    },
    {
        "id": "8088f4545168a017",
        "type": "function",
        "z": "228b60add94eaf0b",
        "name": "OpenAI API properties",
        "func": "\n//const api_key = global.get('process_env').OPENAI_API\nconst api_key = msg.payload.key;\nconst content = msg.payload.text;\n\n// OpenAI API properties\nconst settings = {\n    model: \"text-davinci-003\",\n    prompt: content,\n    temperature: 0,\n    max_tokens: 182,\n    top_p: 1.0,\n    frequency_penalty: 0.0,\n    presence_penalty: 0.0,\n    stop: [\"###\"]\n};\n\nif (api_key) {\n    msg.url = 'https://api.openai.com/v1/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer ${api_key}`,\n    };\n    msg.payload = settings;\n    msg.settings = settings;\n    return [msg, null];\n} else {\n    msg.payload = settings;\n    msg.settings = settings;\n    return [null, msg];\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "20166752ce10b843"
            ],
            [
                "02330b81c1eb6cbd"
            ]
        ]
    },
    {
        "id": "20166752ce10b843",
        "type": "http request",
        "z": "228b60add94eaf0b",
        "name": "OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "a58ca4f2ab0956b1"
            ]
        ]
    },
    {
        "id": "a58ca4f2ab0956b1",
        "type": "function",
        "z": "228b60add94eaf0b",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\nif (!msg.payload.error) {\n    msg.payload = {\n        succsess: true,\n        text: msg.payload.choices[0].text,\n        settings: convertPayloadToObject(msg.settings)\n    }\n} else {\n    msg.payload = {\n        succsess: false,\n        payload: msg.payload.error.code\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 100,
        "wires": [
            [
                "7fc3d31d5c3f60ea"
            ]
        ]
    },
    {
        "id": "7fc3d31d5c3f60ea",
        "type": "http response",
        "z": "228b60add94eaf0b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "02330b81c1eb6cbd",
        "type": "function",
        "z": "228b60add94eaf0b",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\n\nmsg.payload = {\n    settings: convertPayloadToObject(msg.settings)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "284b97d2a441276c"
            ]
        ]
    },
    {
        "id": "284b97d2a441276c",
        "type": "http response",
        "z": "228b60add94eaf0b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 140,
        "wires": []
    }
]